<!DOCTYPE html>
<html>
    <head>
        <title>Workout</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%= stylesheet_link_tag    'application', media: 'all' %>
    </head>

    <body>
        <section class="section">
            <div class="container">
                <%= render "layouts/nav" %>
                <%= render "layouts/flash" %>
                <%= yield %>
            </div>
        </section>
        <%= javascript_include_tag 'application' %>
    </body>
</html>
